.container2 {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 1rem;
}
.body1 {
  background-color: #3b404e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 520px;
}

.item {
  background-color: #1EAAFC;
  
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #171717;
}
.item.item1 {
  
  background-image: url("images/agappe.jpg");
}
@media screen and (max-width:768px) and (orientation:portrait)
{
  .container2 {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    grid-gap: 1rem;
  }
  .body1{
    width: 100vw;
  }
  #g{
    font-size: small;
  }
  .item.item1 {
  
    background-image: url("images/agappem.jpg");
  }
}